@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Abyssinica SIL', serif;
    background: linear-gradient(90deg, #c3c160, #2ebf91);
    color: #fff;
    margin: 0;
    padding: 0;
}

section {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: rgba(217, 214, 228, 0.12);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.text-container h3, .text-container p {
    margin: 10px 0;
}

.quiz-options {
    margin: 20px 0;
    text-align: left;
}

input[type=radio] {
    display: none;
}

label {
    display: block;
    background: rgba(71, 73, 64, 0.72);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    color: #000;
}

input[type=radio]:checked + label {
    background: rgb(76, 245, 194);
}

.correct {
    background-color: green !important;
}

.incorrect {
    background-color: red !important;
}

.btn {
    border: none;
    border-radius: 5px;
    background: rgba(65, 255, 0, 0.27);
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
}

.btn:disabled {
    background: #ddd;
    cursor: not-allowed;
}

.result_screen {
    display: none;
}
